// Import variables which also forwards typography
@use 'assets/styles/variables' as v;

// Import Google Fonts for the fonts we're not hosting locally yet
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&family=Share+Tech+Mono&display=swap');



// Global Styles
html {
  font-size: 16px;
}

body {
  font-family: v.$font-secondary;
  font-size: v.$font-size-base;
  line-height: 1.5;
  color: v.$digi-dark-gray;
  background-color: v.$digi-light-gray;
  margin: 0;
  padding: 0;
}

h1 {
  @include v.heading-1;
  color: v.$digi-blue;
}

h2 {
  @include v.heading-2;
  color: v.$digi-blue;
}

h3 {
  @include v.heading-3;
  color: v.$digi-dark-gray;
}

// Add more global styles as needed