// Import Google Fonts for the fonts we're not hosting locally yet
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&family=Share+Tech+Mono&display=swap');

// Import variables and typography
@import 'assets/styles/variables';

// Global Styles
html {
  font-size: 16px;
}

body {
  font-family: $font-secondary;
  font-size: $font-size-base;
  line-height: 1.5;
  color: $digi-dark-gray;
  background-color: $digi-light-gray;
  margin: 0;
  padding: 0;
}

h1 {
  @extend %heading-1;
  color: $digi-blue;
}

h2 {
  @extend %heading-2;
  color: $digi-blue;
}

h3 {
  @extend %heading-3;
  color: $digi-dark-gray;
}

// Add more global styles as needed